<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
         backupGlobals               = "false"
         backupStaticAttributes      = "false"
         colors                      = "true"
         convertErrorsToExceptions   = "true"
         convertNoticesToExceptions  = "true"
         convertWarningsToExceptions = "true"
         processIsolation            = "false"
         stopOnFailure               = "false">

    <testsuites>
        <testsuite name="Logaty Classes testing">
            <directory>tests/Classes</directory>
        </testsuite>
<!--        <testsuite name="Logaty API testing">-->
<!--            <directory>tests/App</directory>-->
<!--        </testsuite>-->
<!--        <testsuite name="Logaty Exceptions testing">-->
<!--            <directory>tests/Exceptions</directory>-->
<!--        </testsuite>-->
    </testsuites>

    <php>
        <server name='HTTP_HOST' value='http://localhost' />
        <server name="SERVER_NAME" value="http://logaty.dev"/>
        <server name="SERVER_PORT" value="80"/>
        <server name="QUERY_STRING" value="lang=en"/>
        <server name="REQUEST_URI" value="/home/index/"/>
        <server name="HTTP_ACCEPT_LANGUAGE" value="ar-JO,ar;q=0.5"/>
    </php>
</phpunit>